   
  
   body {
      margin: 0;
      padding: 0;
      display: block;
      height: 100vh;
      font-family: Arial, sans-serif;
      
    }
   
    .login-container {
      margin-top:10px;
      margin-left:600px;
      margin-bottom:100px;
      width: 350px;
      padding: 30px;
      border-radius: 20px;
      background-color: rgba(255, 255, 255, 0.2);
      box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.605);
      backdrop-filter: blur(10px);
      -webkit-backdrop-filter: blur(10px);
      border: 2px solid rgba(67, 64, 64, 0.3);
      text-align: center;
           
    }

    .login-container h1 {
      font-size: 2rem;
      color: black;
      margin-bottom: 20px;
    }

    .login-container input {
      width: 90%;
      padding: 10px;
      margin: 10px 0;
      border-radius: 10px;
      border: 2px solid gray;
      outline: none;
      background-color: rgba(136, 132, 132, 0.34);
      color: #1b1919;
      font-size: 1rem;
    }

    .login-container button {
      width: 90%;
      padding: 10px;
      margin-top: 20px;
      border: none;
      border-radius: 10px;
      background-color: rgb(3, 152, 252);
      color: black;
      font-size: 1.2rem;
      cursor: pointer;
      transition: transform 0.2s ease;
    }

    .login-container button:hover {
      transform: scale(1.05);
    }
   .login-container a{
        text-decoration: none;
        color:black;
    }